#btn-create-game-start{
	position: absolute;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 25%;
	left: 50%;
	width: 15%;
	height: 7%;
}

#btn-create-game-quit{
	position: absolute;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 16%;
	left: 50%;
	width: 10%;
	height: 5%;
}

#createGameBotLeft{
	position: absolute;
	background-color: rgba(40, 35, 23, 0.75);
	top: 69%;
	left: 0.5%;
	width: 24%;
	height: 30%;
}

#createGameMiddle{
	position: absolute;
	background-color: rgba(40,35,23, 0.75);
	top: 69%;
	left: 26%;
	width: 23%;
	height: 10%;
}

#createGameBotRight{
	position: absolute;
	background-color: rgba(40,35,23, 0.75);
	top: 40%;
	left: 30%;
	width: 15%;
	height: 25%;
}

#createGameTopRight{
	position: absolute;
	background-color: rgba(40,35,23, 0.75);
	top: 40%;
	left: 55%;
	width: 15%;
	height: 25%;
}

#btn-create-game-desac{
	position: absolute;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
top: 70%;
left: 50%;
width: 70%;
height: 20%;
font-size: 1rem;
}

#btn-create-game-map1{
	position: absolute;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
top: 30%;
left: 50%;
width: 70%;
height: 20%;
font-size: 1rem;
}

#btn-create-game-map2{
	position: absolute;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 70%;
	height: 20%;
	font-size: 1rem;
}

#btn-create-game-map3{
	position: absolute;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 70%;
	left: 50%;
	width: 70%;
	height: 20%;
	font-size: 1rem;
}

#createGameChat{
	position: absolute;
	top: 2%;
	left: 23%;
	width: 76%;
	height: 83%;
	background-color: rgba(18, 16, 11, 0.8);
	overflow-y: auto;
	overflow-wrap: anywhere;
}

#createGameChatInput{
	position: absolute;
	top: 87%;
	left: 23%;
	width: 76%;
	height: 10%;
	background-color: white;
}


#createGameTopLeft{
	position: absolute;
	top: 2%;
	left: 1%;
	width: 20%;
	height: 95%;
	background-color: rgba(18, 16, 11, 0.8);
}

#global-create-game{
	position: absolute;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 6%;
	left: 50%;
	height: 10%;
	width: 98%;
	color: white;
	background : rgba(18, 16, 11, 0.8);
	border: 3px solid #FF9C00;
}

#create-game-team1{
	position: absolute;
	top: 1%;
	left: 1%;
	height: 15%;
	width: 98%;
	color: white;
	background : rgba(18, 16, 11, 0.8);
	border: 3px solid #FF9C00;
	text-align: center;
}

#create-game-team2{
	position: absolute;
	top: 1%;
	left: 1%;
	height: 15%;
	width: 98%;
	color: white;
	background : rgba(18, 16, 11, 0.8);
	border: 3px solid #FF9C00;
	text-align: center;
}

#team1Player{
	position: absolute;
	top: 17%;
	left: 1%;
	height: 81%;
	width: 98%;
	background : rgba(18, 16, 11, 0.8);
	overflow-y: auto;
	overflow-wrap: anywhere;
}

#team2Player{
	position: absolute;
	top: 17%;
	left: 1%;
	height: 81%;
	width: 98%;
	background : rgba(18, 16, 11, 0.8);
	overflow-y: auto;
	overflow-wrap: anywhere;
}

.btn-bot{
	position: relative;
	top: 84.5%;
	left: 70%;
	width: 30%;
	height: 15%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#vs{
	position: absolute;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 53%;
	left: 50%;
	height: 10%;
	width: 10%;
	font-size: 200%;
	background : transparent;
}

#vstext{
	font-size: 200%;
}

#createGameStatus{
	position: absolute;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 73%;
	left: 50%;
	height: 8%;
	width: 15%;
	font-size: 200%;
	background : rgba(40,35,23, 0.75);
	text-align: center;
}

#CreateGamePowerUp{
	position: absolute;
	top: 1%;
	left: 1%;
	height: 98%;
	width: 48%;
	font-size: 50%;
	background : rgba(18, 16, 11, 0.8);
	border: 3px solid #FF9C00;
	text-align: center;

}

#CreateGameMap{
	position: absolute;
	top: 1%;
	left: 51%;
	height: 98%;
	width: 48%;
	font-size: 50%;
	background : rgba(18, 16, 11, 0.8);
	border: 3px solid #FF9C00;
	text-align: center;

}

#gameCreatePowerTxt{
	top: 1%;
	color: white;
}

#gameCreatePowerStatus{
	top: 1%;
	color: green;
}

#gameCreateMapTxt{
	top: 1%;
	color: white;
}

#gameCreateMapName{
	top: 1%;
	color: white;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.changeCustomGame{
	position: absolute;
	top: 25%;
	left: 79%;
	width: 15%;
	height: 50%;
	background-color: rgba(40,35,23, 0.75);
}

.CustomPowerUp{
	position: absolute;
	top:1%;
	left: 1%;
	height: 25%;
	width: 98%;
	background : rgba(18, 16, 11, 0.8);
	text-align: center;
}

#customPTxt{
	color: white;
}


#btnStatusPowerUp{
	width: 30%;
	height: 30%;
}

.CustomMap{
	position: absolute;
	top: 27%;
	left: 1%;
	height: 72%;
	width: 98%;
	background : rgba(18, 16, 11, 0.8);
	text-align: center;

}

#customMTxt{
	color: white;
}

.btn-map{
	width: 95%;
	height: 10%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}