/* body {
  color: green;
} */



/*		PROFIL PAGE		*/



.profil_win_rate_font {
	font-size: 2.5vw;
  }
 @media screen and (min-width: 580px) {
	.profil_win_rate_font {
     font-size: 2vw;
  }
}
@media screen and (min-width: 700px) {
	.profil_win_rate_font {
     font-size: 00.75rem;
  }
}
@media screen and (min-width: 1000px) {
	.profil_win_rate_font {
     font-size: 1rem;
  }
}


.grey_div
{
	background-color: rgba(40, 35, 23, 0.75);
}

.black_grey_div
{
	background-color: rgba(18,16,11, 0.75);
}


	/*MATCH HISTORY*/
	.goal_point path {
		opacity: 0;
	}
	.goal_point:hover path {
	opacity: 1;
	}
	.goal_point path:hover {
	opacity: 1;
	}

	.goal_point text {
	opacity: 0;
	}
	.goal_point:hover text {
	opacity: 1;
	}
	.goal_point text:hover {
	opacity: 1;
	}

	tr .goalGraph {
		display: none;
	}
	tr:hover .goalGraph {
		display: block;
	}
	tr .goalGraph:hover {
		display: block;
	}