/* body {
  color: green;
} */



/*		PROFIL PAGE		*/



.grey_div
{
	background-color: rgba(40, 35, 23, 0.75);
}

.black_grey_div
{
	margin-bottom: 10px;
	background-color: rgba(18,16,11, 0.75);
}


	/*MATCH HISTORY*/
	.goal_point path {
		opacity: 0;
	}
	.goal_point:hover path {
	opacity: 1;
	}
	.goal_point path:hover {
	opacity: 1;
	}

	.goal_point text {
	opacity: 0;
	}
	.goal_point:hover text {
	opacity: 1;
	}
	.goal_point text:hover {
	opacity: 1;
	}

	tr .goalGraph {
		display: none;
	}
	tr:hover .goalGraph {
		display: block;
	}
	tr .goalGraph:hover {
		display: block;
	}