.profil_win_rate_font {
	font-size: 2.5vw;
	}
 @media screen and (min-width: 580px) {
	.profil_win_rate_font {
	 font-size: 2vw;
	}
}
@media screen and (min-width: 700px) {
	.profil_win_rate_font {
	 font-size: 00.75rem;
	}
}
@media screen and (min-width: 1000px) {
	.profil_win_rate_font {
	 font-size: 1rem;
	}
}


.grey_div
{
	background-color: rgba(40, 35, 23, 0.75);
}

.black_grey_div
{
	background-color: rgba(18,16,11, 0.75);
}


/*MATCH HISTORY*/
.goal_point path {
	opacity: 0;
}
.goal_point:hover path {
opacity: 1;
}
.goal_point path:hover {
opacity: 1;
}

.goal_point text {
opacity: 0;
}
.goal_point:hover text {
opacity: 1;
}
.goal_point text:hover {
opacity: 1;
}

/* tr .goalGraph {
	display: none;
}
tr:hover .goalGraph {
	display: block;
}
tr .goalGraph:hover {
	display: block;
}*/
/* Popup container */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	}

/* The actual popup (appears on top) */
.popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}

#passPopCurrent {
	color: #ff9c00;
	-webkit-text-stroke: 1px #fd4c00;
}

#passPopNew {
	color: #ff9c00;
	-webkit-text-stroke: 1px #fd4c00;
}

#passPopConfirm {
	color: #ff9c00;
	-webkit-text-stroke: 1px #fd4c00;
}

.blur   {
    filter: blur(5px);
    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px); */
}
