{% load static %}
<!DOCTYPE html>
<html lang="en-US">

<link rel="stylesheet" href="{% static 'myglobal.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'image/favicon.png' %}" >
<title>PONG : 404 error</title>


<body id="body" style="background-color:#7f4f19; background-image:none; margin:0%; padding:0%;">
	<h1 class="title">404 ERROR</h1>

	<p style="font-size:300%; color:white; display:relatve; text-align:center;">Your going in the wrong direction.</p>
	
		<span style="background-color:#704618; display:block; margin:auto; ">
			<img src="{% static 'image/other/dwarf404.gif' %}" style="margin:auto; display:block; width:70%;">
		</span>
		<div style="margin:auto; text-align:center;">
	</div>



</body>

</html>
