{% load static %}
<div id="Page">
	<div id="pp">
		{% if messages %}
			{% for message in messages %}
				<div class = "alert alert-{{message.tags}}">{{message}}</div>
			{% endfor %}
		{% endif %}

					<form method = "post", style="color: white;">
						{% csrf_token %}
						{{ form.as_p }}
						<button type="submit">Upload</button>
					</form>
					<button data-section="9" type="button" class ="changePage btn-drg" id = "main-btn-custom" onclick="changePage(this.dataset.section)">Return to profile</button>
	
	</div>
</div>
