<div id = "Page">

	<button data-section="6" type="button" class ="btn-drg" id = "btn-create-game-start" onclick="changePage(this.dataset.section)">start</button>
	<button data-section="3" type="button" class ="changePage btn-drg" id = "btn-create-game-quit" onclick="changePage(this.dataset.section)">quit</button>

	<div class ="channel-container" id = "createGameTopLeft">
		<div class ="channel channel-active" id ="channel-general" onclick="selectChannel('general');">
			<p>GLOBAL</p>
		</div>
	</div>

	<form class ="createGameBotLeft" id = "createGameBotLeft">
		<div class ="createGameChat" id = "createGameChat">
		</div>
		<input type="text" id="createGameChatInput" name="createGameChatInput"><br><br>

		<script>
			const form = document.getElementById('createGameBotLeft');
			messageInput = document.getElementById('createGameChatInput');
			form.addEventListener('submit', async event => {
				event.preventDefault();
				sendMessage(messageInput);
			});
		</script>
	</form>

	<div class ="createGameMiddle" id = "createGameMiddle">
		<div class ="tournamentCreatePowerUp" id = "tournamentCreatePowerUp">
			<p id="tournament-create-text1">Power up</p>
			<p id="tournament-create-text2">on</p>
			<button type="button" class ="btn-drg" id = "btn-create-game-desac">Desactivate</button>
		</div>


		<div class ="tournamentCreateMap" id = "tournamentCreateMap">
			<p id="tournament-create-text3">Map</p>
			<button type="button" class ="btn-drg" id = "btn-create-game-map1">Classic  Easy</button>
			<button type="button" class ="btn-drg" id = "btn-create-game-map2">Dwarf cave  medium</button>
			<button type="button" class ="btn-drg" id = "btn-create-game-map3">Around the sun  HARD</button>
		</div>
	</div>

	<div class ="createGameBotRight" id = "createGameBotRight">
		<p id="create-game-team1">team 1</p>
	</div>

	<div class ="createGameTopRight" id = "createGameTopRight">
		<p id="create-game-team2">team 2</p>
	</div>
</div>
