<!DOCTYPE html>
<!-- TODO when the game work correctly, remove the link (CSS) and script (JS) balise at line 4 and 5 -->
{% load static %}


<div id="Page" > 
	 {% comment %} <div id="divStartCounter" style="position:absolute; top:0; left:0%; width:100%; "  > 
		<div id="" style="position:relative; top:300px; left:30%; width:40%; text-align:center; border-radius:40px 40px 40px 40px; background-color:rgba(18,16,11, 0.75);">
			<p style="text-align:center; font-size:400%; color:;"> Starting in </p>
			<p style="text-align:center; font-size:400%; color:#ff9c00;" id ="startCounter">  ? ? ? </p>
		</div>
	</div>  {% endcomment %}
	<img id="gameGifPop"  style="position:absolute; top:00px; left:0%; width:100%; opacity: 0.25;">
	<div id="GameInfo" style="background-color:black;">
		<div id="teamLeftInfo" style="display:inline-block; width:46%; text-align:right; verticale-align:center;">
			<p style="color:white;" id="scoreLeftTeam">Score : 0</p>
		</div>
		<div id="teamPowerUpInfo" style="display:inline-block; width:5%; text-align:center; border:white solid 1px;verticale-align:center;">
			<p style="color:white; " id="scoreLeftTeam">Power Up</p>
			<div  style="display:flex;flex-direction:row;">
				<img style="display:block; width:100%;  border:white solid 1px; border-top:white solid 2px;" id="imgPowerUp" src="/static/image/game/powerUp/sprite_-1.png">
				<img style="display:none; width:100%;  border:white solid 1px; border-top:white solid 2px;" id="imgPowerUp1" src="/static/image/game/powerUp/sprite_-1.png">
				<img style="display:none; width:100%;  border:white solid 1px; border-top:white solid 2px;" id="imgPowerUp2" src="/static/image/game/powerUp/sprite_-1.png">
				<img style="display:none; width:100%;  border:white solid 1px; border-top:white solid 2px;" id="imgPowerUp3" src="/static/image/game/powerUp/sprite_-1.png">
			</div>
		</div>
		<div id="teamRightInfo" style="display:inline-block; width:46%; text-align:left; verticale-align:center;">
			<p style="color:white;" id="scoreRightTeam">Score : 0</p>
		</div>

	</div>

	<svg id="svgGameBox" style="border:solid grey 6px; width:80%; margin-left:10%;"  viewBox="0, 0, 1800, 900" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

		<g id="GameBox" >
			<rect id="divStartCounter" x="400" y="300" width="1000" height="300" fill="rgba(18,16,11, 0.75)" rx="30" ry="30"></rect>
			<text x="550" y="450" fill="#ff9c00" style="font-size: 6em;" id ="startStartingIn">Starting in</text>
			<text x="900" y="550" fill="#ff9c00" style="font-size: 6em;" id ="startCounter">?</text> 
			<rect id="endGameScreen" x="0" y="0" width="1850" height="950" fill="rgba(18,16,11, 0.75)"  visibility="hidden"></rect>
			<text x="650" y="300" fill="#ff9c00" style="font-size: 6em;" visibility="hidden" id ="EndStatusGame">Status Game</text>
			<text x="150" y="600" fill="#ff9c00" style="font-size: 6em;" visibility="hidden" id ="endGameLeftTeam">?</text>
			<text x="850" y="600" fill="#ff9c00" style="font-size: 6em;" visibility="hidden" id ="endGameVS">VS</text> 
			<text x="1500" y="600" fill="#ff9c00" style="font-size: 6em;" visibility="hidden" id ="endGameRightTeam">?</text> 
			<text x="610" y="800" fill="#ff9c00" style="font-size: 3em;" visibility="hidden" id ="endClickToContinue">Click To Continue</text> 

		</g>
	</svg>

</div>