<!DOCTYPE html>
<!-- TODO when the game work correctly, remove the link (CSS) and script (JS) balise at line 4 and 5 -->
{% load static %}


<div id="Page" > 

	<div id="GameInfo" style="background-color:black;">
		<div id="teamLeftInfo" style="display:inline-block; width:44%; text-align:right;">
			<p id="scoreLeftTeam">Score : 0</p>
		</div>
		<img style="display:inline-block; width:9%;">
		<div id="teamRightInfo" style="display:inline-block; width:44%; text-align:left;">
			<p id="scoreRightTeam">Score : 0</p>
		</div>

	</div>

	<svg id="svgGameBox" style="border:solid black 6px; width:100%;"  viewBox="0, 0, 1800, 900" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<g id="GameBox" >


		</g>
	</svg>

</div>