{% load static %}
<!DOCTYPE html>
<html lang="en-US">


	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{% static 'myglobal.css' %}">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
		<script src="{% static 'javascript/profil/achievement_and_stat.js' %}" ></script>
		<script src="{% static 'javascript/profil/contact.js' %}" ></script>
		<script src="{% static 'javascript/spa.js' %}" ></script>
		<script src="{% static 'javascript/chat/messages.js' %}" ></script>
		<link rel="shortcut icon" type="image/png" href="{% static 'image/favicon.png' %}" >

		<title>PONG</title>
	</head>


<body id="body">
	<div id="Header"></div>

	<div id="content">

		<div id = "Page">

			<div class ="rectladder" id = "rectladder">

				<div class ="ladder" id = "ladder1">
					<div class ="credittext" id = "credittext">
						<p id="credits1">156</p>
					</div>

					<div class ="credit" id = "credit">
						<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
					</div>

					<div class ="ladderpp" id = "ladderpp">
						<img src="{% static './image/ladder/rock-and-pong-rank00.png' %}" class="sameladderpp" id ="ladderpp1">
					</div>


					<div class ="ppPlayer" id = "ppPlayer1">
					</div>

					<div class ="playerName" id = "playerName">
						<p id="playerName1" class="policeSize">KARL</p>
					</div>
				</div>

				<div class ="ladder" id = "ladder2">
					<div class ="credittext" id = "credittext">
						<p id="credits2">156</p>
					</div>

					<div class ="credit" id = "credit">
						<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
					</div>

					<div class ="ladderpp" id = "ladderpp">
						<img src="{% static './image/ladder/rock-and-pong-rank01.png' %}" class="sameladderpp" id ="ladderpp2">
					</div>

					<div class ="ppPlayer" id = "ppPlayer2">
					</div>

					<div class ="playerName" id = "playerName">
						<p id="playerName2" class="policeSize">KARL</p>
					</div>
				</div>

				<div class ="ladder" id = "ladder3">
					<div class ="credittext" id = "credittext">
						<p id="credits3">156</p>
					</div>

					<div class ="credit" id = "credit">
						<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
					</div>

					<div class ="ladderpp" id = "ladderpp">
						<img src="{% static './image/ladder/rock-and-pong-rank02.png' %}" class="sameladderpp" id ="ladderpp3">
					</div>

					<div class ="ppPlayer" id = "ppPlayer3">
					</div>

					<div class ="playerName" id = "playerName">
						<p id="playerName3" class="policeSize">KARL</p>
					</div>
				</div>

				<div class ="ladder" id = "ladder4">
					<div class ="credittext" id = "credittext">
						<p id="credits4">156</p>
					</div>

					<div class ="credit" id = "credit">
						<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
					</div>

					<div class ="ladderpp" id = "ladderpp">
						<img src="{% static './image/ladder/rock-and-pong-rank03.png' %}" class="sameladderpp" id ="ladderpp4">
					</div>

					<div class ="ppPlayer" id = "ppPlayer4">
					</div>

					<div class ="playerName" id = "playerName">
						<p id="playerName4" class="policeSize">KARL</p>
					</div>
				</div>

				<div class ="ladder" id = "ladder5">
					<div class ="credittext" id = "credittext">
						<p id="credits5">156</p>
					</div>

					<div class ="credit" id = "credit">
						<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
					</div>

					<div class ="ladderpp" id = "ladderpp">
						<img src="{% static './image/ladder/rock-and-pong-rank04.png' %}" class="sameladderpp" id ="ladderpp5">
					</div>

					<div class ="ppPlayer" id = "ppPlayer5">
					</div>

					<div class ="playerName" id = "playerName">
						<p id="playerName5" class="policeSize">KARL</p>
					</div>
				</div>

				<div class ="ladder" id = "ladder6">
					<div class ="credittext" id = "credittext">
						<p id="credits6">156</p>
					</div>

					<div class ="credit" id = "credit">
						<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
					</div>

					<div class ="ladderpp" id = "ladderpp">
						<img src="{% static './image/ladder/rock-and-pong-rank05.png' %}" class="sameladderpp" id ="ladderpp6">
					</div>

					<div class ="ppPlayer" id = "ppPlayer6">
					</div>

					<div class ="playerName" id = "playerName">
						<p id="playerName6" class="policeSize">KARL</p>
					</div>
				</div>

				<div class ="ladder" id = "ladder7">
					<div class ="credittext" id = "credittext">
						<p id="credits7">156</p>
					</div>

					<div class ="credit" id = "credit">
						<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
					</div>

					<div class ="ladderpp" id = "ladderpp">
						<img src="{% static './image/ladder/rock-and-pong-rank06.png' %}" class="sameladderpp" id ="ladderpp7">
					</div>

					<div class ="ppPlayer" id = "ppPlayer7">
					</div>

					<div class ="playerName" id = "playerName">
						<p id="playerName7" class="policeSize">KARL</p>
					</div>
				</div>

				<div class ="ladder" id = "ladder8">
					<div class ="credittext" id = "credittext">
						<p id="credits8">156</p>
					</div>

					<div class ="credit" id = "credit">
						<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
					</div>

					<div class ="ladderpp" id = "ladderpp">
						<img src="{% static './image/ladder/rock-and-pong-rank07.png' %}" class="sameladderpp" id ="ladderpp8">
					</div>

					<div class ="ppPlayer" id = "ppPlayer8">
					</div>

					<div class ="playerName" id = "playerName">
						<p id="playerName8" class="policeSize">KARL</p>
					</div>
				</div>

				<div class ="ladder" id = "ladder9">
					<div class ="credittext" id = "credittext">
						<p id="credits9">156</p>
					</div>

					<div class ="credit" id = "credit">
						<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
					</div>

					<div class ="ladderpp" id = "ladderpp">
						<img src="{% static './image/ladder/rock-and-pong-rank08.png' %}" class="sameladderpp" id ="ladderpp9">
					</div>

					<div class ="ppPlayer" id = "ppPlayer9">
					</div>

					<div class ="playerName" id = "playerName">
						<p id="playerName9" class="policeSize">KARL</p>
					</div>
				</div>

				<div class ="ladder" id = "ladder10">
					<div class ="credittext" id = "credittext">
						<p id="credits10">156</p>
					</div>

					<div class ="credit" id = "credit">
						<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
					</div>

					<div class ="ladderpp" id = "ladderpp">
						<img src="{% static './image/ladder/rock-and-pong-rank09.png' %}" class="sameladderpp" id ="ladderpp10">
					</div>

					<div class ="ppPlayer" id = "ppPlayer10">
					</div>

					<div class ="playerName" id = "playerName">
						<p id="playerName10" class="policeSize">KARL</p>
					</div>
				</div>

				<div class ="ladder" id = "ladder11">
					<div class ="credittext" id = "credittext">
						<p id="credits11">156</p>
					</div>

					<div class ="credit" id = "credit">
						<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
					</div>

					<div class ="ladderpp" id = "ladderpp">
						<img src="{% static './image/ladder/rock-and-pong-rank10.png' %}" class="sameladderpp" id ="ladderpp11">
					</div>

					<div class ="ppPlayer" id = "ppPlayer11">
					</div>

					<div class ="playerName" id = "playerName">
						<p id="playerName11" class="policeSize">KARL</p>
					</div>
				</div>

				<div class ="ladder" id = "ladder12">
					<div class ="credittext" id = "credittext">
						<p id="credits12">156</p>
					</div>

					<div class ="credit" id = "credit">
						<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
					</div>

					<div class ="ladderpp" id = "ladderpp">
						<img src="{% static './image/ladder/rock-and-pong-rank11.png' %}" class="sameladderpp" id ="ladderpp12">
					</div>

					<div class ="ppPlayer" id = "ppPlayer12">
					</div>

					<div class ="playerName" id = "playerName">
						<p id="playerName12" class="policeSize">KARL</p>
					</div>
				</div>

				<div class ="ladder" id = "ladder13">
					<div class ="credittext" id = "credittext">
						<p id="credits13">156</p>
					</div>

					<div class ="credit" id = "credit">
						<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
					</div>

					<div class ="ladderpp" id = "ladderpp">
						<img src="{% static './image/ladder/rock-and-pong-rank12.png' %}" class="sameladderpp" id ="ladderpp13">
					</div>

					<div class ="ppPlayer" id = "ppPlayer13">
					</div>

					<div class ="playerName" id = "playerName">
						<p id="playerName13" class="policeSize">KARL</p>
					</div>
				</div>

				<div class ="ladder" id = "ladder14">
					<div class ="credittext" id = "credittext">
						<p id="credits14">156</p>
					</div>

					<div class ="credit" id = "credit">
						<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
					</div>

					<div class ="ladderpp" id = "ladderpp">
						<img src="{% static './image/ladder/rock-and-pong-rank13.png' %}" class="sameladderpp" id ="ladderpp14">
					</div>

					<div class ="ppPlayer" id = "ppPlayer14">
					</div>

					<div class ="playerName" id = "playerName">
						<p id="playerName14" class="policeSize">KARL</p>
					</div>
				</div>

				<div class ="ladder" id = "ladder15">
					<div class ="credittext" id = "credittext">
						<p id="credits15">156</p>
					</div>

					<div class ="credit" id = "credit">
						<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
					</div>

					<div class ="ladderpp" id = "ladderpp">
						<img src="{% static './image/ladder/rock-and-pong-rank14.png' %}" class="sameladderpp" id ="ladderpp15">
					</div>

					<div class ="ppPlayer" id = "ppPlayer15">
					</div>

					<div class ="playerName" id = "playerName">
						<p id="playerName15" class="policeSize">KARL</p>
					</div>
				</div>

				<div class ="ladder" id = "ladder16">
					<div class ="credittext" id = "credittext">
						<p id="credits16">156</p>
					</div>

					<div class ="credit" id = "credit">
						<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
					</div>

					<div class ="ladderpp" id = "ladderpp">
						<img src="{% static './image/ladder/rock-and-pong-rank15.png' %}" class="sameladderpp" id ="ladderpp16">
					</div>

					<div class ="ppPlayer" id = "ppPlayer16">
					</div>

					<div class ="playerName" id = "playerName">
						<p id="playerName16" class="policeSize">KARL</p>
					</div>
				</div>

				<div class ="ladder" id = "ladder17">
					<div class ="credittext" id = "credittext">
						<p id="credits17">156</p>
					</div>

					<div class ="credit" id = "credit">
						<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
					</div>

					<div class ="ladderpp" id = "ladderpp">
						<img src="{% static './image/ladder/rock-and-pong-rank16.png' %}" class="sameladderpp" id ="ladderpp17">
					</div>

					<div class ="ppPlayer" id = "ppPlayer17">
					</div>

					<div class ="playerName" id = "playerName">
						<p id="playerName17" class="policeSize">KARL</p>
					</div>
				</div>

				<div class ="ladder" id = "ladder18">
					<div class ="credittext" id = "credittext">
						<p id="credits18">156</p>
					</div>

					<div class ="credit" id = "credit">
						<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
					</div>

					<div class ="ladderpp" id = "ladderpp">
						<img src="{% static './image/ladder/rock-and-pong-rank17.png' %}" class="sameladderpp" id ="ladderpp18">
					</div>

					<div class ="ppPlayer" id = "ppPlayer18">
					</div>

					<div class ="playerName" id = "playerName">
						<p id="playerName18" class="policeSize">KARL</p>
					</div>
				</div>

			</div>
		</div>

	</div>

</body>

<script>
	changeBackground("10");
	manageHeader("10");
	enableChatConnection();
</script>

</html>
