{% load static %}

<div id = "Page">

	<div class ="rectladder" id = "rectladder">

		{% block content0 %}
		<div class ="ladder" id = "ladder0">
			<div class ="ranktext" id = "ranktext">
				<p> Rank : 1</p>
			</div>
			<div class ="credittext" id = "credittext">
				<p id="credits">{{ Ladderlist.0.money }}</p>
			</div>

			<div class ="credit" id = "credit">
				<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
			</div>

			<div class ="ladderpp" id = "ladderpp">
				<img src="{% static './image/ladder/rock-and-pong-rank00.png' %}" class="sameladderpp" id ="ladderpp1">
			</div>


			<div class ="ppPlayer" id = "ppPlayer1">
				<img src="./static/{{ Ladderlist.0.profilPicture }}"  width="90%" >
			</div>

			<div class ="playerName" id = "playerName">
				<p id="playerName0" class="policeSize animation" onclick="changePage('profil/{{ Ladderlist.0.username }}')">{{ Ladderlist.0.username }}</p>
			</div>
		</div>
		{% endblock content0 %}

		{% block content1 %}
		<div class ="ladder" id = "ladder1">
			<div class ="ranktext" id = "ranktext">
				<p> Rank : 2</p>
			</div>
			<div class ="credittext" id = "credittext">
				<p id="credits">{{ Ladderlist.1.money }}</p>
			</div>

			<div class ="credit" id = "credit">
				<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
			</div>

			<div class ="ladderpp" id = "ladderpp">
				<img src="{% static './image/ladder/rock-and-pong-rank01.png' %}" class="sameladderpp" id ="ladderpp2">
			</div>

			<div class ="ppPlayer" id = "ppPlayer2">
				<img src="./static/{{ Ladderlist.1.profilPicture }}"  width="90%" >
			</div>

			<div class ="playerName" id = "playerName">
				<p id="playerName1" class="policeSize animation" onclick="changePage('profil/{{ Ladderlist.1.username }}')">{{ Ladderlist.1.username }}</p>
			</div>
		</div>
		{% endblock content1 %}

		{% block content2 %}
		<div class ="ladder" id = "ladder2">
			<div class ="ranktext" id = "ranktext">
				<p> Rank : 3</p>
			</div>
			<div class ="credittext" id = "credittext">
				<p id="credits">{{ Ladderlist.2.money }}</p>
			</div>

			<div class ="credit" id = "credit">
				<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
			</div>

			<div class ="ladderpp" id = "ladderpp">
				<img src="{% static './image/ladder/rock-and-pong-rank02.png' %}" class="sameladderpp" id ="ladderpp3">
			</div>

			<div class ="ppPlayer" id = "ppPlayer3">
				<img src="./static/{{ Ladderlist.2.profilPicture }}"  width="90%" >
			</div>

			<div class ="playerName" id = "playerName">
				<p id="playerName2" class="policeSize animation" onclick="changePage('profil/{{ Ladderlist.2.username }}')">{{ Ladderlist.2.username }}</p>
			</div>
		</div>
		{% endblock content2 %}

		{% block content3 %}
		<div class ="ladder" id = "ladder3">
			<div class ="ranktext" id = "ranktext">
				<p> Rank : 4</p>
			</div>
			<div class ="credittext" id = "credittext">
				<p id="credits">{{ Ladderlist.3.money }}</p>
			</div>

			<div class ="credit" id = "credit">
				<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
			</div>

			<div class ="ladderpp" id = "ladderpp">
				<img src="{% static './image/ladder/rock-and-pong-rank03.png' %}" class="sameladderpp" id ="ladderpp4">
			</div>

			<div class ="ppPlayer" id = "ppPlayer4">
				<img src="./static/{{ Ladderlist.3.profilPicture }}"  width="90%" >
			</div>

			<div class ="playerName" id = "playerName">
				<p id="playerName3" class="policeSize animation" onclick="changePage('profil/{{ Ladderlist.3.username }}')">{{ Ladderlist.3.username }}</p>
			</div>
		</div>
		{% endblock content3 %}

		{% block content4 %}
		<div class ="ladder" id = "ladder4">
			<div class ="ranktext" id = "ranktext">
				<p> Rank : 5</p>
			</div>
			<div class ="credittext" id = "credittext">
				<p id="credits">{{ Ladderlist.4.money }}</p>
			</div>

			<div class ="credit" id = "credit">
				<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
			</div>

			<div class ="ladderpp" id = "ladderpp">
				<img src="{% static './image/ladder/rock-and-pong-rank04.png' %}" class="sameladderpp" id ="ladderpp5">
			</div>

			<div class ="ppPlayer" id = "ppPlayer5">
				<img src="./static/{{ Ladderlist.4.profilPicture }}"  width="90%" >
			</div>

			<div class ="playerName" id = "playerName">
				<p id="playerName4" class="policeSize animation" onclick="changePage('profil/{{ Ladderlist.4.username }}')">{{ Ladderlist.4.username }}</p>
			</div>
		</div>
		{% endblock content4 %}

		{% block content5 %}
		<div class ="ladder" id = "ladder5">
			<div class ="ranktext" id = "ranktext">
				<p> Rank : 6</p>
			</div>
			<div class ="credittext" id = "credittext">
				<p id="credits">{{ Ladderlist.5.money }}</p>
			</div>

			<div class ="credit" id = "credit">
				<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
			</div>

			<div class ="ladderpp" id = "ladderpp">
				<img src="{% static './image/ladder/rock-and-pong-rank05.png' %}" class="sameladderpp" id ="ladderpp5">
			</div>

			<div class ="ppPlayer" id = "ppPlayer5">
				<img src="./static/{{ Ladderlist.5.profilPicture }}"  width="90%" >
			</div>

			<div class ="playerName" id = "playerName">
				<p id="playerName5" class="policeSize animation" onclick="changePage('profil/{{ Ladderlist.5.username }}')">{{ Ladderlist.5.username }}</p>
			</div>
		</div>
		{% endblock content5 %}

		{% block content6 %}
		<div class ="ladder" id = "ladder6">
			<div class ="ranktext" id = "ranktext">
				<p> Rank : 7</p>
			</div>
			<div class ="credittext" id = "credittext">
				<p id="credits">{{ Ladderlist.6.money }}</p>
			</div>

			<div class ="credit" id = "credit">
				<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
			</div>

			<div class ="ladderpp" id = "ladderpp">
				<img src="{% static './image/ladder/rock-and-pong-rank06.png' %}" class="sameladderpp" id ="ladderpp6">
			</div>

			<div class ="ppPlayer" id = "ppPlayer6">
				<img src="./static/{{ Ladderlist.6.profilPicture }}"  width="90%" >
			</div>

			<div class ="playerName" id = "playerName">
				<p id="playerName6" class="policeSize animation" onclick="changePage('profil/{{ Ladderlist.6.username }}')">{{ Ladderlist.6.username }}</p>
			</div>
		</div>
		{% endblock content6 %}

		{% block content7 %}
		<div class ="ladder" id = "ladder7">
			<div class ="ranktext" id = "ranktext">
				<p> Rank : 8</p>
			</div>
			<div class ="credittext" id = "credittext">
				<p id="credits">{{ Ladderlist.7.money }}</p>
			</div>

			<div class ="credit" id = "credit">
				<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
			</div>

			<div class ="ladderpp" id = "ladderpp">
				<img src="{% static './image/ladder/rock-and-pong-rank07.png' %}" class="sameladderpp" id ="ladderpp7">
			</div>

			<div class ="ppPlayer" id = "ppPlayer7">
				<img src="./static/{{ Ladderlist.7.profilPicture }}"  width="90%" >
			</div>

			<div class ="playerName" id = "playerName">
				<p id="playerName7" class="policeSize animation" onclick="changePage('profil/{{ Ladderlist.7.username }}')">{{ Ladderlist.7.username }}</p>
			</div>
		</div>
		{% endblock content7 %}

		{% block content8 %}
		<div class ="ladder" id = "ladder8">
			<div class ="ranktext" id = "ranktext">
				<p> Rank : 9</p>
			</div>
			<div class ="credittext" id = "credittext">
				<p id="credits">{{ Ladderlist.8.money }}</p>
			</div>

			<div class ="credit" id = "credit">
				<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
			</div>

			<div class ="ladderpp" id = "ladderpp">
				<img src="{% static './image/ladder/rock-and-pong-rank08.png' %}" class="sameladderpp" id ="ladderpp8">
			</div>

			<div class ="ppPlayer" id = "ppPlayer8">
				<img src="./static/{{ Ladderlist.8.profilPicture }}"  width="90%" >
			</div>

			<div class ="playerName" id = "playerName">
				<p id="playerName8" class="policeSize animation" onclick="changePage('profil/{{ Ladderlist.8.username }}')">{{ Ladderlist.8.username }}</p>
			</div>
		</div>
		{% endblock content8 %}

		{% block content9 %}
		<div class ="ladder" id = "ladder9">
			<div class ="ranktext" id = "ranktext">
				<p> Rank : 10</p>
			</div>
			<div class ="credittext" id = "credittext">
				<p id="credits">{{ Ladderlist.9.money }}</p>
			</div>

			<div class ="credit" id = "credit">
				<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
			</div>

			<div class ="ladderpp" id = "ladderpp">
				<img src="{% static './image/ladder/rock-and-pong-rank09.png' %}" class="sameladderpp" id ="ladderpp9">
			</div>

			<div class ="ppPlayer" id = "ppPlayer9">
				<img src="./static/{{ Ladderlist.9.profilPicture }}"  width="90%" >
			</div>

			<div class ="playerName" id = "playerName">
				<p id="playerName9" class="policeSize animation" onclick="changePage('profil/{{ Ladderlist.9.username }}')">{{ Ladderlist.9.username }}</p>
			</div>
		</div>
		{% endblock content9 %}

		{% block content10 %}
		<div class ="ladder" id = "ladder10">
			<div class ="ranktext" id = "ranktext">
				<p> Rank : 11</p>
			</div>
			<div class ="credittext" id = "credittext">
				<p id="credits">{{ Ladderlist.10.money }}</p>
			</div>

			<div class ="credit" id = "credit">
				<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
			</div>

			<div class ="ladderpp" id = "ladderpp">
				<img src="{% static './image/ladder/rock-and-pong-rank10.png' %}" class="sameladderpp" id ="ladderpp10">
			</div>

			<div class ="ppPlayer" id = "ppPlayer10">
				<img src="./static/{{ Ladderlist.10.profilPicture }}"  width="90%" >
			</div>

			<div class ="playerName" id = "playerName">
				<p id="playerName10" class="policeSize animation" onclick="changePage('profil/{{ Ladderlist.10.username }}')">{{ Ladderlist.10.username }}</p>
			</div>
		</div>
		{% endblock content10 %}

		{% block content11 %}
		<div class ="ladder" id = "ladder11">
			<div class ="ranktext" id = "ranktext">
				<p> Rank : 12</p>
			</div>
			<div class ="credittext" id = "credittext">
				<p id="credits">{{ Ladderlist.11.money }}</p>
			</div>

			<div class ="credit" id = "credit">
				<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
			</div>

			<div class ="ladderpp" id = "ladderpp">
				<img src="{% static './image/ladder/rock-and-pong-rank11.png' %}" class="sameladderpp" id ="ladderpp11">
			</div>

			<div class ="ppPlayer" id = "ppPlayer11">
				<img src="./static/{{ Ladderlist.11.profilPicture }}"  width="90%" >
			</div>

			<div class ="playerName" id = "playerName">
				<p id="playerName11" class="policeSize animation" onclick="changePage('profil/{{ Ladderlist.11.username }}')">{{ Ladderlist.11.username }}</p>
			</div>
		</div>
		{% endblock content11 %}

		{% block content12 %}
		<div class ="ladder" id = "ladder12">
			<div class ="ranktext" id = "ranktext">
				<p> Rank : 13</p>
			</div>
			<div class ="credittext" id = "credittext">
				<p id="credits">{{ Ladderlist.12.money }}</p>
			</div>

			<div class ="credit" id = "credit">
				<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
			</div>

			<div class ="ladderpp" id = "ladderpp">
				<img src="{% static './image/ladder/rock-and-pong-rank12.png' %}" class="sameladderpp" id ="ladderpp12">
			</div>

			<div class ="ppPlayer" id = "ppPlayer12">
				<img src="./static/{{ Ladderlist.12.profilPicture }}"  width="90%" >
			</div>

			<div class ="playerName" id = "playerName">
				<p id="playerName12" class="policeSize animation" onclick="changePage('profil/{{ Ladderlist.12.username }}')">{{ Ladderlist.12.username }}</p>
			</div>
		</div>
		{% endblock content12 %}

		{% block content13 %}
		<div class ="ladder" id = "ladder13">
			<div class ="ranktext" id = "ranktext">
				<p> Rank : 14</p>
			</div>
			<div class ="credittext" id = "credittext">
				<p id="credits">{{ Ladderlist.13.money }}</p>
			</div>

			<div class ="credit" id = "credit">
				<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
			</div>

			<div class ="ladderpp" id = "ladderpp">
				<img src="{% static './image/ladder/rock-and-pong-rank13.png' %}" class="sameladderpp" id ="ladderpp13">
			</div>

			<div class ="ppPlayer" id = "ppPlayer13">
				<img src="./static/{{ Ladderlist.13.profilPicture }}"  width="90%" >
			</div>

			<div class ="playerName" id = "playerName">
				<p id="playerName13" class="policeSize animation" onclick="changePage('profil/{{ Ladderlist.13.username }}')">{{ Ladderlist.13.username }}</p>
			</div>
		</div>
		{% endblock content13 %}

		{% block content14 %}
		<div class ="ladder" id = "ladder14">
			<div class ="ranktext" id = "ranktext">
				<p> Rank : 15</p>
			</div>
			<div class ="credittext" id = "credittext">
				<p id="credits">{{ Ladderlist.14.money }}</p>
			</div>

			<div class ="credit" id = "credit">
				<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
			</div>

			<div class ="ladderpp" id = "ladderpp">
				<img src="{% static './image/ladder/rock-and-pong-rank14.png' %}" class="sameladderpp" id ="ladderpp14">
			</div>

			<div class ="ppPlayer" id = "ppPlayer14">
				<img src="./static/{{ Ladderlist.14.profilPicture }}"  width="90%" >
			</div>

			<div class ="playerName" id = "playerName">
				<p id="playerName14" class="policeSize animation" onclick="changePage('profil/{{ Ladderlist.14.username }}')">{{ Ladderlist.14.username }}</p>
			</div>
		</div>
		{% endblock content14 %}

		{% block content15 %}
		<div class ="ladder" id = "ladder15">
			<div class ="ranktext" id = "ranktext">
				<p> Rank : 16</p>
			</div>
			<div class ="credittext" id = "credittext">
				<p id="credits">{{ Ladderlist.15.money }}</p>
			</div>

			<div class ="credit" id = "credit">
				<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
			</div>

			<div class ="ladderpp" id = "ladderpp">
				<img src="{% static './image/ladder/rock-and-pong-rank15.png' %}" class="sameladderpp" id ="ladderpp15">
			</div>

			<div class ="ppPlayer" id = "ppPlayer15">
				<img src="./static/{{ Ladderlist.15.profilPicture }}"  width="90%" >
			</div>

			<div class ="playerName" id = "playerName">
				<p id="playerName15" class="policeSize animation" onclick="changePage('profil/{{ Ladderlist.15.username }}')">{{ Ladderlist.15.username }}</p>
			</div>
		</div>
		{% endblock content15 %}

		{% block content16 %}
		<div class ="ladder" id = "ladder16">
			<div class ="ranktext" id = "ranktext">
				<p> Rank : 17</p>
			</div>
			<div class ="credittext" id = "credittext">
				<p id="credits">{{ Ladderlist.16.money }}</p>
			</div>

			<div class ="credit" id = "credit">
				<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
			</div>

			<div class ="ladderpp" id = "ladderpp">
				<img src="{% static './image/ladder/rock-and-pong-rank16.png' %}" class="sameladderpp" id ="ladderpp16">
			</div>

			<div class ="ppPlayer" id = "ppPlayer16">
				<img src="./static/{{ Ladderlist.16.profilPicture }}"  width="90%" >
			</div>

			<div class ="playerName" id = "playerName">
				<p id="playerName16" class="policeSize animation" onclick="changePage('profil/{{ Ladderlist.16.username }}')">{{ Ladderlist.16.username }}</p>
			</div>
		</div>
		{% endblock content16 %}

		{% block content17 %}
		<div class ="ladder" id = "ladder17">
			<div class ="ranktext" id = "ranktext">
				<p> Rank : {{ pos }}</p>
			</div>
			<div class ="credittext" id = "credittext">
				<p id="credits">{{ Ladderlist.17.money }}</p>
			</div>

			<div class ="credit" id = "credit">
				<img src="{% static './image/ladder/credit.png' %}" id ="imgcredit">
			</div>

			<div class ="ladderpp" id = "ladderpp">
				{% if pos < 19 %}
					<img src="{% static './image/ladder/rock-and-pong-rank17.png' %}" class="sameladderpp" id ="ladderpp17">
				{% endif %}
			</div>

			<div class ="ppPlayer" id = "ppPlayer17">
				<img src="./static/{{ Ladderlist.17.profilPicture }}"  width="90%" >
			</div>

			<div class ="playerName" id = "playerName">
				<p id="playerName17" class="policeSize animation" onclick="changePage('profil/{{ Ladderlist.17.username }}')">{{ Ladderlist.17.username }}</p>
			</div>
		</div>
		{% endblock content17 %}
	</div>
</div>
