{% load static %}
<link rel="stylesheet" href="{% static '/css/login.css' %}">
<div id="Page">

	<h1 class="title" onclick="changePage(`0`)">ROCK AND PONG</h1>

	<div id = "LoginPopup">
		<form id="LoginForm" method="post">
			{% csrf_token %}
			<div id="LoginRect">
				<div class="LoginTextRect">
					<p id="LoginText">LOGIN</p>
				</div>
				<input type="text" class="LoginInput" name="login" required><br>
				<div class="LoginSeparator"></div>
			</div>

			<div id ="LoginRectPassword">
				<div class="LoginTextRect">
					<p id="LoginTextPassword">PASSWORD</p>
				</div>
				<input type="password" class="LoginInput" id="LoginPassword" name="password" required><br>
				<div class="LoginSeparator"></div>
			</div>

			<button data-section="1" type="submit" class ="btn-drg" id = "LoginBtnPop">LOGIN</button>
			<script>

				const form = document.getElementById('LoginForm');
				form.addEventListener('submit', async event => {
					event.preventDefault();

					const data = new FormData(form);
					checkLogin(data)
				});
			</script>
		</form>
		<p id="LoginError"></p>
		<p id="LoginText42">STUDENT AT 42 ?</p>
		{% block 42link %}
		<a type="button" style="text-align:center;text-decoration:none;" class ="btn-drg" id = "LoginBtnLink42" href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-1b900294f4f0042d646cdbafdf98a5fe9216f3efd76b592e56b7ae3a18a43bd1&redirect_uri={{ 42urllink }}/3&response_type=code">LINK 42</a>
		{% endblock 42link %}
		<p id="LoginTextPopSignIn">NEW ?</p>
		<button data-section="1" type="button" class ="btn-drg" id = "LoginBtnSign" onclick="changePage(this.dataset.section)">SIGN IN</button>

	</div>

</div>
