<div id="Page">

	<h1 class="title" onclick="changePage(`0`)">ROCK AND PONG</h1>

	<div class ="popupLogin" id = "popupLogin">

		<form id="form_log" method="post">
			{% csrf_token %}
			<div class ="rectLogin" id = "rectLogin">
				<div class ="textRectLogin" id = "textRectLogin">
					<p id="textLogin">LOGIN</p>
				</div>
				<input type="text" id="login" name="login" required><br>
				<div class ="speratorLogin" id = "speratorlog"></div>
			</div>

			<div class ="rectPassword" id = "rectPassword">
				<div class ="textRectPassword" id = "textRectPassword">
					<p id="textPassword">PASSWORD</p>
				</div>
				<input type="password" id="password" name="password" required><br>
				<div class ="speratorPassword" id = "speratorPassword"></div>
			</div>

			<button data-section="1" type="submit" class ="btn-drg" id = "btn-pop-login">LOGIN</button>
			<script>

				const form = document.getElementById('form_log');
				form.addEventListener('submit', async event => {
					event.preventDefault();

					const data = new FormData(form);
					checkLogin(data)
				});
			</script>
		</form>
		<p id="error"></p>
		<p id="text42">STUDENT AT 42 ?</p>
		<a type="button" style="text-align:center;text-decoration:none;" class ="btn-drg" id = "btn-pop-link-42" href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-1b900294f4f0042d646cdbafdf98a5fe9216f3efd76b592e56b7ae3a18a43bd1&redirect_uri=https%3A%2F%2Flocalhost%3A4200%2F3&response_type=code">LINK 42</a>
		<p id="textPopSignIn">NEW ?</p>
		<button data-section="1" type="button" class ="btn-drg" id = "btn-popLog-sign" onclick="changePage(this.dataset.section)">SIGN IN</button>

	</div>

</div>
