<div id="Page">

	<div class ="main-page-tournament" id = "main-page-tournament">
		<p id="main-page-txt-tournament">TOURNAMENT</p>
		<button data-section="7" type="button" class ="changePage btn-drg" id = "main-btn-join" onclick="changePage(this.dataset.section)">JOIN</button>
	</div>

	<form class ="main-page-chat" id = "main-page-chat">
		{% csrf_token %}
		<div class ="main-page-chat-write" id = "main-page-chat-write">
		</div>
		<input type="message" id="main-chat" name="message"><br><br>

		<script>
			const form = document.getElementById('main-page-chat');
			messageInput = document.getElementById('main-chat');
			form.addEventListener('submit', async event => {
				event.preventDefault();
				sendMessage(messageInput);
			});
		</script>
	</form>

	<div class ="channel-container" id="main-page-chat-switch">
		<button type="button" class ="channel-active" id ="channel-general" onclick="selectChannel('general');">GLOBAL</button>
	</div>

	<button data-section="4" type="button" class ="changePage btn-drg" id = "main-btn-quick" onclick="changePage(this.dataset.section)">QUICK GAME</button>
	<button data-section="5" type="button" class ="changePage btn-drg" id = "main-btn-custom" onclick="changePage(this.dataset.section)">CUSTOM GAME</button>
</div>
