{% load static %}
<link rel="stylesheet" href="{% static '/css/mainPage.css' %}">
<div id="Page">

	<div id="mainPageTournament">
		<div class="greyRect">
			<p id="mainPageTxtTournament">TOURNAMENT</p>
			<button type="button" class ="changePage btn-drg" id="mainBtnJoin">JOIN</button>
				{% if idType == 2 %}
					<button type="button" class ="changePage btn-drg" id="mainBtnAdmin" onclick="goToCreateTournament()">Create tournament</button>
				{% endif %}
		</div>
	</div>

	<form id="mainPageChat">
		{% csrf_token %}
		<div id="mainPageChatMessage">
		</div>
		<input type="message" id="mainPageChatInput" name="message"><br><br>

		<script>
			const form = document.getElementById('mainPageChat');
			messageInput = document.getElementById('mainPageChatInput');
			form.addEventListener('submit', async event => {
				event.preventDefault();
				sendMessage(messageInput);
			});
		</script>

		<div class ="channel-container" id="SwitchChannel">
			<div class ="channel channel-active" id ="channel-general" onclick="selectChannel('general');">
				<p>GLOBAL</p>
			</div>
		</div>
	</form>

	<button data-section="4" type="button" class ="changePage btn-drg" id = "mainPageBtnQuick" onclick="changePage(this.dataset.section)">QUICK GAME</button>
	<button data-section="5" type="button" class ="changePage btn-drg" id = "mainPageBtnCustom" onclick="changePage(this.dataset.section)">CUSTOM GAME</button>
</div>
