<div id="Page">

	<div class ="main-page-tournament" id = "main-page-tournament">
		<p id="main-page-txt-tournament">TOURNAMENT</p>
		<button data-section="6" type="button" class ="changePage btn-drg" id = "main-btn-join" onclick="showcontent(this.dataset.section, null)">JOIN</button>
	</div>

	<div class ="main-page-chat" id = "main-page-chat">
		<div class ="main-page-chat-write" id = "main-page-chat-write">
		</div>
		<input type="text" id="main-chat" name="main-chat"><br><br>
	</div>

	<div class ="main-page-chat-switch" id = "main-page-chat-switch">
		<button type="button" class ="btn-drg" id ="global">GLOBAL</button>
	</div>

	<button data-section="4" type="button" class ="changePage btn-drg" id = "main-btn-quick" onclick="showcontent(this.dataset.section, null);">QUICK GAME</button>
	<button data-section="5" type="button" class ="changePage btn-drg" id = "main-btn-custom" onclick="showcontent(this.dataset.section, null)">CUSTOM GAME</button>
</div>
