{% load static %}
<link rel="stylesheet" href="{% static '/css/inscription.css' %}">
<div id = "Page">
	<div id="rect">
		<div id="greyRect" class="greyRect">
			<form id="form_tournamentName" method="post">
			<p id="tournamentUsername">Tournament nickname <input type="text" id="tournamentNewName" name="tournamentNewName" required></p><br>
			<button type="submit" class ="btn-drg" id="Participate" onclick="changePage('13')">Participate</button>
			</form>
			<script>
				const form = document.getElementById('form_tournamentName');
				form.addEventListener('submit', async event => {
					event.preventDefault();

					const data = new FormData(form);
				});
			</script>
			<p id="errorTournamentUsername" style="color:red;"></p>
			<br>
			<button class ="btn-drg" id="btnQuitTournament" onclick="changePage('3')">Go Back</button>';
		</div>
	</div>
</div>
