{% load static %}
<link rel="stylesheet" href="{% static '/css/tournament.css' %}">
<div id = "Page">

	<form class ="tournamentChat" id = "tournamentChat">
		<div class ="tournamentrect1" id = "tournamentrect1">
		</div>
		<input type="text" id="tournament-chat" name="tournament-chat"><br><br>

		<script>
			const form = document.getElementById('tournamentChat');
			messageInput = document.getElementById('tournament-chat');
			form.addEventListener('submit', async event => {
				event.preventDefault();
				sendMessage(messageInput);
			});
		</script>

		<div class ="channel-container" id = "tournamentChangeChat">
			<div class ="channel channel-active" id ="channel-general" onclick="selectChannel('general');">
				<p>GLOBAL</p>
			</div>
		</div>
	</form>

	<div class ="tournamentProgress" id = "tournamentProgress">
		<div class ="tournamentrectUserList" id = "tournamentrect3">
		</div>
		<form id="addLocalPlayerForm">
			<input id="nicknameLocalPlayer"></input>
			<button type="submit" id="addLocalTournament" class ="btn-drg">add Player</button>
			<script>
				const formAddPlayer = document.getElementById('addLocalPlayerForm');
				const inputAddPlayer = document.getElementById('nicknameLocalPlayer');
				formAddPlayer.addEventListener('submit', async event => {
					event.preventDefault();

					LocalTournamentAddPlayer(inputAddPlayer.value);
					inputAddPlayer.value = "";
				});
			</script>
		</form>
	</div>

	<div class="changeTournament" id="allModifierTournament">
		<div class="CustomPowerUp">
			<p id="customPTxt" style="color: white;">Power Up</p>
			<button type="button" class ="btn-drg" id="btnStatusPowerUp" onclick="switchLocalTournamentPowerUp()">OFF</button>
		</div>

		<div class="CustomMap">
				<p id="customMTxt">Map</p>
				<button type="button" class ="btn-drg btn-map" id="btnMap0" onclick="changeLocalTournamentMapId(0)">Default Map</button><br><br>
				<button type="button" class ="btn-drg-dark btn-map" id="btnMap1" onclick="changeLocalTournamentMapId(1)">Duck Heaven</button><br><br>
				<button type="button" class ="btn-drg-dark btn-map" id="btnMap2" onclick="changeLocalTournamentMapId(2)">Flipper</button><br><br>
				<button type="button" class ="btn-drg-dark btn-map" id="btnMap3" onclick="changeLocalTournamentMapId(3)">Pickaxe dance</button><br><br>
				<button type="button" class ="btn-drg-dark btn-map" id="btnMap4" onclick="changeLocalTournamentMapId(4)">Difficulty 5, verminagedon, no shield</button>
		</div>
	</div>

	<button type="button" class ="btn-drg" id="btnTournamentCreate" onclick="changePage('75')">Start Tournament</button>
	<button type="button" class ="btn-drg" id="btnTournamentLaunch" onclick="changePage('3')">Quit</button>

	<div id="rectEror">
		<p id="tournamentLocalEror"></p>
	</div>

</div>
