{% load static %}
<link rel="stylesheet" href="{% static '/css/inscription.css' %}">
<div id = "Page">
	<div id="rect">
		<div id="greyRect" class="greyRect">
			<form id="form_tournamentName" method="post">
			<p id="tournamentUsername">Tournament nickname</p>
			{% block content %}
			<input type="text" id="tournamentNewName" name="tournamentNewName" value="{{ username }}" required>
			{% endblock content %}
			<br>
			<button type="submit" class ="btn-drg" id="Participate">Participate</button>
			</form>
			<script>
				const form = document.getElementById('form_tournamentName');
				form.addEventListener('submit', async event => {
					event.preventDefault();

					let nickname = document.getElementById("tournamentNewName");
					if (nickname.value != "")
						joinTournament(nickname.value);
				});
			</script>
			<p id="errorTournamentUsername" style="color:red;"></p>
			<br>
			<button class ="btn-drg" id="btnQuitTournament" onclick="changePage('3')">Go Back</button>';
		</div>
	</div>
</div>
