{% load static %}
<link rel="stylesheet" href="{% static 'tournament.css' %}">
<div id = "Page">

	<form class ="tournamentChat" id = "tournamentChat">
		<div class ="tournamentrect1" id = "tournamentrect1">
		</div>
		<input type="text" id="tournament-chat" name="tournament-chat"><br><br>

		<script>
			const form = document.getElementById('tournamentChat');
			messageInput = document.getElementById('tournament-chat');
			form.addEventListener('submit', async event => {
				event.preventDefault();
				sendMessage(messageInput);
			});
		</script>


		<div class ="channel-container" id = "tournamentChangeChat">
			<div class ="channel channel-active" id ="channel-general" onclick="selectChannel('general');">
				<p>GLOBAL</p>
			</div>
		</div>
	</form>
	<p id="erorCreate"></p>

	<div class ="tournamentProgress" id = "tournamentProgress">
		<div class ="tournamentrectUserList" id = "tournamentrect3">
		</div>
	</div>


	<div class="changeTournament">
		<div class="CustomPowerUp">
			<p id="customPTxt" style="color: white;">Power Up</p>
			<button type="button" class ="btn-drg" id="btnStatusPowerUp">OFF</button>
		</div>

		<div class="CustomMap">
				<p id="customMTxt">Map</p>
				<button type="button" class ="btn-drg btn-map" id="btnMap1">map 1 cave is wierd i guess</button><br><br>
				<button type="button" class ="btn-drg btn-map" id="btnMap2">map 2 cave is wierd i guess</button><br><br>
				<button type="button" class ="btn-drg btn-map" id="btnMap3">map 3 cave is wierd i guess</button><br><br>
				<button type="button" class ="btn-drg btn-map" id="btnMap4">map 4 cave is wierd i guess</button><br><br>
				<button type="button" class ="btn-drg btn-map" id="btnMap5">map 5 cave is wierd i guess</button>
		</div>
	</div>

	<button type="button" class ="btn-drg" id="btnTournamentCreate">Create Tournament</button>
	<button type="button" class ="btn-drg" id="btnTournamentQuit" onclick="changePage('3')">quit</button>
	<button type="button" class ="btn-drg" id="btnTournamentLaunch">Launch tournament</button>

</div>
