{% load static %}
<link rel="stylesheet" href="{% static '/css/tournament.css' %}">
<div id = "Page">

	<form class ="tournamentChat" id = "tournamentChat">
		<div class ="tournamentrect1" id = "tournamentrect1">
		</div>
		<input type="text" id="tournament-chat" name="tournament-chat"><br><br>

		<script>
			const form = document.getElementById('tournamentChat');
			messageInput = document.getElementById('tournament-chat');
			form.addEventListener('submit', async event => {
				event.preventDefault();
				sendMessage(messageInput);
			});
		</script>


		<div class ="channel-container" id = "tournamentChangeChat">
			<div class ="channel channel-active" id ="channel-general" onclick="selectChannel('general');">
				<p>GLOBAL</p>
			</div>
		</div>
	</form>


	<div class ="tournamentProgress" id = "tournamentProgress">
		<div class ="tournamentrect3" id = "tournamentrect3">
			<svg  viewBox="0, 0, 800, 300" style="width:100%; height:100%;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<g id="graphe" style="fill:none;stroke-width:4px;">


				</g>
			</svg>
			<script src="{% static 'javascript/tournament/tournament_tree.js' %}" ></script>\
		</div>
	</div>

	<div id="joinTournamentOption">
		<div id="joinTournamentOption1">
		<p id="powerUpTournamentJoin">Power up : on</p>
		<p id="powerUpTournamentMap">Map : map 4 cave is wierd i guess</p>
		</div>
	</div>


	<button type="button" class ="btn-drg" id="btnTournamentReturn" onclick="changePage('3')">return</button>
	<button type="button" class ="btn-drg" id="btnTournamentQuit">Quit</button>

	<div id="joinTournamentVSrect">
		<div id="joinTournamentVSrect1">
			<div id ="tournamentPlayer1">
			</div>
			<div id ="tournamentPlayer2">
			</div>
			<div id="textVsTournament">
				<p id="nextmatch">Next match</p>
				<p id="vsTournament">VS</p>
			</div>
		</div>
	</div>

</div>
