<div id = "Page">
	<div class ="tournamentCreate" id = "tournamentCreate">
		<div class ="tournamentCreatePowerUp" id = "tournamentCreatePowerUp">
			<p id="tournament-create-text1">Power up</p>
			<p id="tournament-create-text2">on</p>
			<button type="button" class ="btn-drg" id = "btn-tournament-create-desac">Desactivate</button>
		</div>
		
		
		<div class ="tournamentCreateMap" id = "tournamentCreateMap">
			<p id="tournament-create-text3">Map</p>
			<button type="button" class ="btn-drg" id = "btn-tournament-create-map1">Classic  Easy</button>
			<button type="button" class ="btn-drg" id = "btn-tournament-create-map2">Dwarf cave  medium</button>
			<button type="button" class ="btn-drg" id = "btn-tournament-create-map3">Around the sun  HARD</button>
		</div>
	</div>
	
	<button type="button" class ="btn-drg" id = "btn-tournament-create-start">Start</button>

</div>
