<div id = "Page">
	<div class ="wait-page-text" id = "wait-page-text">
		<p id="wait-page-waiting">Waiting for an opponent ! please, wait</p>
	</div>

	<div class ="wait-page-left-bosco" id = "wait-page-left-bosco">
	</div>

	<div class ="wait-page-right-bosco" id = "wait-page-right-bosco">
	</div>

	<button data-section="3" type="button" class ="changePage btn-drg" id = "wait-btn-cancel" onclick="changePage(this.dataset.section)">CANCEL</button>

	<form class ="wait-page-chat" id = "wait-page-chat">
		<div class ="wait-page-chat-write" id = "wait-page-chat-write">
		</div>
		<input type="text" id="wait-chat" name="wait-chat"><br><br>

		<script>
			const form = document.getElementById('wait-page-chat');
			messageInput = document.getElementById('wait-chat');
			form.addEventListener('submit', async event => {
				event.preventDefault();
				sendMessage(messageInput);
			});
		</script>
	</form>

	<div class ="channel-container" id = "wait-page-global">
		<button type="button" class ="channel-active" id ="channel-general" onclick="selectChannel('general');">GLOBAL</button>
	</div>
</div>
