{% load static %}
<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="{% static 'myglobal.css' %}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<title>Wait Page</title>
</head>

<body class="wait-page">

	<nav class=class="navbar navbar-light" id="header">
		<span class="navbar-text" id = "header_title">
		  Rock and Pong
		</span>
		<button type="button" class ="btn-drg" id = "main-user-name">USER NAME HERE</button>
		<button type="button" class ="btn-drg" id = "main-profile-user"></button>
	  </nav>

	<div class ="wait-page-text" id = "wait-page-text">
		<p id="wait-page-waiting">Waiting for an opponent ! please, wait</p>
	</div>

	<div class ="wait-page-left-bosco" id = "wait-page-left-bosco">
	</div>

	<div class ="wait-page-right-bosco" id = "wait-page-right-bosco">
	</div>

	<button type="button" class ="btn-drg" id = "wait-btn-cancel">CANCEL</button>
	

	  <div class ="wait-page-chat" id = "wait-page-chat">
	 	<div class ="wait-page-chat-write" id = "wait-page-chat-write">
		</div>
		<input type="text" id="wait-chat" name="wait-chat"><br><br>
	  </div>

	  <div class ="wait-page-global" id = "wait-page-global">
		<button type="button" class ="btn-drg" id ="wait-global">GLOBAL</button>
	 </div>
	
</body>

</html>
